*{
    margin: 0;
    padding: 0; 
   
}
#btn1{
    width: 60px ;
    height: 60px;
}
 .profile{
    width: 60px ;
    height: 60px;
}
.para span{
    font-size: 13px;
}
.btn a:hover , p a:hover , h2 a:hover{
    text-decoration: none;
}
.my-btn a{ 
  font-size: 12px;
}
.nav-item a{
    font-size: 14px;
}
.last_para{
    font-size: 12px;
}
#search{
     width: 20vw;
    border-radius: 50px;
}
.row-search{
    width: 80vw;
    height: 100vh;
}
#btn{
    font-size: 10px ;
}
#search-bar{
    background-color: rgb(255, 244, 234);
}
#dropdownMenuLink{
    font-size: 12px;
    border: 1px solid lightgrey;
}
img.image{
    width: 5vw;
    height: 10vh;
}
#button-group{
    font-size:30px ;
    background-color:rgb(255, 244, 234) ;
}
.card{
    width: 15vw;
}
#paragraph{
    text-align: center;
    font-size: 40px;
}